<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--FCC LIVE-->
    
    <!--<add key="CW_IM" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SID=IM)));User ID=ccps;Password=ccps"/>-->
    <add key="CW_IM" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=IM.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CW_IM_STAN" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.60.2)(PORT=2500))(CONNECT_DATA=(SERVICE_NAME=IMSTBY.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CW_IM_UAT" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3000))(CONNECT_DATA=(SERVICE_NAME=IM.WORLD)));User ID=ccps;Password=CcpS12#$" />
    <add key="CW_AM" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=AM.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CW_AM_STAN" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.60.2)(PORT=2500))(CONNECT_DATA=(SERVICE_NAME=AMSTBY.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CW_AM_UAT" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3000))(CONNECT_DATA=(SERVICE_NAME=AM.WORLD)));User ID=ccps;Password=CcpS12#$" />
    <!--<add key="CW_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.46.14)(PORT=3020))(CONNECT_DATA=(SID=DW)));User ID=fpt;Password=FPT123"/>-->
    <add key="CW_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=fpt;Password=FPT123" />
    <add key="CW_DW_STAN" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.60.2)(PORT=2500))(CONNECT_DATA=(SERVICE_NAME=DWSTBY.WORLD)));User ID=fpt;Password=FPT123" />
    <add key="CW_DW_UAT" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3020))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=fpt;Password=FPT123" />
    <!--<add key="CCPS_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.46.14)(PORT=3020))(CONNECT_DATA=(SID=DW)));User ID=ccps;Password=cwccpsdw"/>-->
    <add key="CCPS_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CCPS_DW_STAN" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.60.2)(PORT=2500))(CONNECT_DATA=(SERVICE_NAME=DWSTBY.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CCPS_DW_UAT" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3020))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=ccps;Password=CcpS12#$" />
    <!--<add key="FCSCB" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.42.14)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=fcscb)));User ID=hoannd;Password=hoannd"/>-->
    <!--<add key="FCSCB" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.42.64)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=corefc)));User ID=hoannd;Password=hoannd"/>-->
    <add key="FCSCB" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.66.64)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=fcubs12)));User ID=A_FCC_IPC;Password=A_FCC_IPC"/>    
    <!--<add key="SQLServerIPC" value="server=192.168.45.21\mip;database=IPC;uid=sa;pwd=admin@123;"/>-->
    <add key="SQLServerIPC" value="server=192.168.69.18;database=IPC;uid=sa;pwd=Admin@123;"/>
    <!--<add key="EBANK_GW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.54.15)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ebankgw)));User ID=msusr;Password=smsMasterCard"/>-->
    <add key="EBANK_GW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.68.17)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=smsscb)));User ID=msusr;Password=smsMasterCard"/>  
    <add key="CheckErr_Minute" value="1"/>      <!--1 phut chay 1 lan-->
    <add key="CheckErr_Minute2" value="10"/>      <!--10 phut chay 1 lan neu co loi xay ra-->
    <add key="Exp_User_Minute" value="20"/>    <!--10 phut -->
    <add key="Exp_User_Hour" value="15"/>    <!--10 phut -->
    <add key="Check_Batch_Minute" value="15"/>    <!--10 phut -->
    <add key="Check_Batch_Hour" value="17"/>    <!--10 phut -->
    <add key="MyPhone1" value="0906094098" />    <!--so dt nhan tn kiem tra: hoan-->
    <add key="MyPhone2" value="0906806988" />    <!--so dt nhan tn kiem tra: hung-->
    <add key="MyPhone3" value="0983986298" />    <!--so dt nhan tn kiem tra: huyen-->
    <add key="MyPhone4" value="0989990921" />    <!--so dt nhan tn kiem tra: hieu-->
    <add key="MyPhone5" value="0918659894" />    <!--so dt nhan tn kiem tra: chi Thao-->
    <add key="MyPhone6" value="0983167035" />    <!--so dt nhan tn kiem tra: a Huan-->
    <add key="MyPhone7" value="0908689591" />    <!--so dt nhan tn kiem tra: Khoa-->
    <add key="MyPhone8" value="0922189192" />    <!--so dt nhan tn kiem tra: Linh-->
    <add key="MyPhone9" value="0977927766" />    <!--so dt nhan tn kiem tra: a Tri1-->
    <add key="MyPhone10" value="0343282362" />    <!--so dt nhan tn kiem tra: a Tri2-->
    <add key="Disable_Case_Minute" value="1" />    <!--1 phut chay 1 lan-->
    <add key="Disable_Case_Second" value="30" />    <!--sleep-->
    <add key="Send_Email_Minute" value="9" />    <!--1 phut chay 1 lan-->
    <add key="Send_Email_Second" value="50" />    <!--sleep-->
    <add key="ad_email" value="hoannd2@scb.com.vn" />
    <add key="Ope_email1" value="huynhnt@scb.com.vn" />
    <add key="Ope_email2" value="kinhnh@scb.com.vn" />
    <add key="Ope_email3" value="hoadtt1@scb.com.vn" />
    <add key="Ope_email4" value="hueht@scb.com.vn" />
    <add key="Ope_email5" value="hienntt16@scb.com.vn" />
    <add key="TD_email" value="phuongntd2@scb.com.vn" />
    <add key="TD_email2" value="thaontp7@scb.com.vn" />
    <add key="DN_email1" value="thuybtn@scb.com.vn" />
    <add key="DN_email2" value="loilm@scb.com.vn" />
    <add key="DN_email3" value="maintn1@scb.com.vn" />
    <add key="from_email" value="check_case_cw@scb.com.vn" />
    <add key="pass_email" value="1234!@#$Scb" />
    <add key="UpdateTerminal_Minute" value="5"/>                       <!--5 phut chay 1 lan hhhh-->
    <add key="Err_ISO" value="7"/>                                     <!--7-so gd loi se nt-->
    <add key="Suc_ISO" value="1"/>                                     <!--1-so gd thanh cong nho hon se nt-->
    <add key="Min_ISO" value="15"/>                                    <!--15-neu tn gan nhat tre hon 15ph se khong nt-->
    <add key="Err_WEB" value="7"/>                                     <!--7-so gd loi se nt-->
    <add key="Suc_WEB" value="1"/>                                     <!--1-so gd thanh cong nho hon se nt-->
    <add key="Min_WEB" value="20"/>                                    <!--15-neu tn gan nhat tre hon 15ph se khong nt-->
    <add key="Be_SML" value="7"/>                                      <!--7-7h am bat dau kiem tra-->
    <add key="En_SML" value="22"/>                                     <!--22-10h pm ngung kiem tra-->
    <add key="Min_SML" value="40"/>                                    <!--10-neu 10ph khong co gd SML se nhan sms-->  
    <add key="Err_TXNMSG" value="50"/>                                  <!--15-so gd pending se nt-->
    <add key="Err_Payment" value="50"/>                                 <!--25-so gd pending se nt-->
    <add key="Err_IPC" value="20"/>                                     <!--20-so gd pending se nt-->
    


  </appSettings>
</configuration>